/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

 // CSS tổng thể phần giữa trang web
.appWithSidebar{
    display: flex;
    width: 100%;
    margin-top: 61px;
    background-color: #0f172a;
}


/* Main */
#main {
    width: 93%;
    background-color: white;
    margin-left: 7%;
}

/* CSS cho phần danh sách ngôn ngữ */
.listLanguage{
    overflow-x: auto;
    background-color: #e0e0e0;
    border-bottom: 1px solid #22c55e;
}
.listLanguage::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.listLanguage::-webkit-scrollbar-thumb {
    background-color: #22c55e;
}

.listLanguage::-webkit-scrollbar-track {
    background-color: #111;
}
.navLanguage ul{
    display: flex;
    margin: 4px;
    // margin-left: 4px;
}
.navLanguage ul li{
    display: block;
    min-width: 96px;
    margin: 0 4px;
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 999px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 0.95rem;
}

.navLanguage ul li:hover{
    cursor: pointer;
    border: 1px solid blue;
}

/* CSS cho phần menu-top */
.menuTop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    position: sticky;
    top: 60px;
    z-index: 200;
    border-left: 2px solid white ;
    border-right: 2px solid white ;
    border-radius: 4px;
    opacity: 0.97;
}
.menuTop > a{
    color: white;
    text-align: center;
    font-weight: 600;
}
.menuTop > a:hover{
    color: #22c55e;
}
.menuTop > a > p{
    white-space: nowrap;
}
.menuTop .navItem{
    padding: 0.4rem;
}
.menuTop .boxIcon{ 
    text-align: center;
    /* background-color: yellow; */
}
.menuTop .boxIcon img{
    border-radius: 50%;
}
.menuTop .md.hydrated{
    width: 40px;
    height: 40px;
}


/* CSS cho phần thùng chứa khóa học */
.container {
    margin-top: 20px;
    padding: 1vw;
    background-color: white;
}

.course {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding: 0 1%;
}

.nameCourse {
    width: 24%;
    padding: 4px;
    margin: 0.5%;
    box-shadow: 0 1px 2px #666;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: white;
}
.nameCourse a{
    color: #22c55e;
}
.nameCourse img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: 100%;
}
.nameCourse img:hover{
    transform: translateY(-1px) scale(1.01);
}
.nameCourse:hover{
    box-shadow: 0 2px 3px rgb(104, 104, 104);
}

/* Scroll to top button */
.scrollTop {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 200;
    border-radius: 30px;
}

.showScroll {
    display: block;
}

.btnTop {
    width: 30px;
    height: 47px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: none;
    outline: 2px solid yellowgreen;
    box-shadow: 0px 0px 10px yellowgreen;
}

.scroll {
    width: 7px;
    height: 12px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0px 0px 10px white;
    animation: scroll4013 0.5s linear infinite;
    transform: translateY(40%);
}

/* CSS class phụ */
.iconSize{
    width: 28px;
}

/* Responsive */
/* Large desktop screens */
@media screen and (min-width: 1920px) {
    
}

/* Large desktop screens */
@media screen and (max-width: 1492px) {

}

/* Desktop screens */
@media screen and (max-width: 1200px) {

}

/* Large tablets */
@media print, screen and (max-width: 992px) {
    #main{
        width: 100%;
        margin-left: 0;
    }
    .slider .list img{
        width: 100vw;
    }
    .nameCourse {
        width: 32.3%;
    }
}

/* Tablets */
@media print, screen and (max-width: 768px) {
    .slider {
        height: 220px;
    }
}

/* Mobile */
@media print, screen and (max-width: 534px) {
    #main{
        padding: 0;
    }
    .nameCourse {
        width: 49%;
    }
    
}

/* Extra small mobile devices */
@media screen and (max-width: 320px) {
    .nameCourse {
        width: 100%;
    }
}
