#frameSidebar{
    position: fixed;
    inset: 0;
    background-color: rgba(50, 50, 50, 0.4); 
    width: 100%;
    height: 100%;
    z-index: 1001;
}
.sidebarMenu{
    background-color: white;
    position: absolute;
    width: 100%;
    max-width: 534px;
    height: 100%;
    right: 0;
    bottom: 0;
    animation: findIn 0.4s ease;
    padding: 0.8rem;
    
}
.sidebarMenu .myAccount{
    margin: 8px 0;
    /* font-size: 1.2rem; */
}

.sidebarMenu .listNav{
    padding: 8px 0;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    
}
.sidebarMenu .listNav ul{
    color: black;
    width: 24%;
    margin: 0.5%;
}
.sidebarMenu .listNav ul li{
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 8px;
    width: 100%;
    text-align: center;

}
.sidebarMenu .conttenOther{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc ;
}
.sidebarMenu .conttenOther ul{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    flex-wrap: wrap;
}
.sidebarMenu .conttenOther ul li{
    padding: 4px 0;
}
.sidebarMenu .listBottom{
    padding: 8px;
}
.sidebarMenu .listBottom ul{
    display: flex;
    justify-content: space-between;

}
.sidebarMenu .listBottom ul li{
    padding: 4px 0;
}



@keyframes findIn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}