body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #7fff00;
}

body::-webkit-scrollbar-track {
    background-color: #111;
}
#sliderImage{
    width: 100%;
    padding: 2px;
    padding-top: 0;
  }
  .slider{
      width: 1600px;
      max-width: 100%;
      height: 500px;
      margin: auto;
      position: relative;
      overflow: hidden;
      /* border-radius: 0.5rem; */
  }
  .slider .list{
      position: absolute;
      width: max-content;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      transition: 1s;
  }
  .slider .list img{
      width: 1600px;
      max-width: 93vw;
      height: 100%;
      object-fit: cover;
  }
  .slider .buttons{
      position: absolute;
      top: 45%;
      left: 2%;
      width: 96%;
      display: flex;
      justify-content: space-between;
  }
  .slider .buttons button{
      width: 45px;
      height: 60px;
      border-radius: 4%;
      background-color: #fff5;
      color: #fff;
      border: none;
      font-family: monospace;
      font-weight: bold;
      opacity: 0.2;
  }
  .slider .buttons button:hover{
    opacity: 1;
  }
  .slider .dots{
      position: absolute;
      bottom: 10px;
      left: 0;
      color: #fff;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  .slider .dots li{
      list-style: none;
      width: 10px;
      height: 10px;
      background-color: #fff;
      opacity: 0.6;
      margin: 0 12px;
      border-radius: 20px;
      transition: 0.5s;
  }
  .slider .dots li:hover{
      opacity: 1;
  }
  .slider .dots li.active{
      width: 30px;
      opacity: 1;
  }
/* CSS cho phần khung của sidebar */

  /* CSS cho nút cuộn trang lên đầu */

  .scroll-top a {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    display: inline-block;
    text-align: center;
    font-size: 28px;
    background-color: rgb(0, 0, 0,0.75);
    color: #7fff00;
    width: 45px;
    height: 45px;
    padding-top: 4px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
    animation: bounce_513 1s infinite;
    font-weight: bold;
    z-index: 500;
  }

  @keyframes bounce_513 {
    0%,
      100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  @media print, screen and (max-width: 992px) {
    .slider .list img{
        max-width: 100vw;
    }
}
  @media print, screen and (max-width: 768px) {
    .slider {
        height: 220px;
    }
}